<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Common for YEC and YCA -->
  <add key="USE_SSL" value="YES" />
  <add key="CDS_TYPE" value="LIVE" />
  <add key="CONNECTION_STRING" value="User ID=vignette;Data Source=vdev19; Password=vignette; Min Pool Size=1; Connection Lifetime=15; Connection Timeout=25; Incr Pool Size=5; Decr Pool Size=2;Max Pool Size=50;" /> 
  <!--<add key="CONNECTION_STRING" value="User ID=vignette;Data Source=vprd; Password=fhd!TYU54; Min Pool Size=1; Connection Lifetime=15; Connection Timeout=25; Incr Pool Size=5; Decr Pool Size=2;Max Pool Size=50;" />-->
  <add key="ADMIN_PASSWORD" value="355C8675314085CC4B75DAC367F3B125B8EAB294" />
  <add key="ADMIN_SALT" value="834cdc3d-7b33-4665-8965-10ee6a145741" />
  <add key="SERVER_SALT" value="51d8545b-4952-402b-abd8-0b2a017a067b" />
  <!-- For YEC -->
  <add key="HTTPS_STRING" value="https://" />
  <add key="HTTP_STRING" value="http://" />
  <!-- For YCA -->
  <add key="ASPServerHost" value="localhost" /> 
  <add key="ASPServerPort" value="100" />
  <add key="YAMAHA_DEV_SITE_PORT" value="80" />
  <add key="YAMAHA_LIVE_SITE_PORT" value="80" />
  <add key="YCA_CLAVINOVA_IP_ADDRESS_OF_MAPPED_DRIVE_FOR_UPLOAD" value="172.28.131.21" />
  <!-- YOU Web Service HTTPS Certificate -->
  <add key="CERTIFICATE_PATH_FOR_YOU_USER_VALIDATION" value="/yca/pages/you/cert/ybp515.cer" />
  <!-- QueryString Sanitization Keywords -->
  <add key="INVALID_PARAMS" value="script,src,alert,css,href,javascript,cmd" />
  <add key="SSL_BB_NETWORK_USER_ID" value="pidvalid" />
  <add key="SSL_BB_NETWORK_PASSWORD" value="pid112007" />
  <add key="SSL_BB_REQUEST_FROM" value="https://yom-api.yamaha.co.jp/PRODUCTID/?productid=" />
  <add key="SSL_BB_VALIDATE_PRODUCT" value="YES" />
  <add key="COOKIE_DOMAIN" value=".yamaha.com" />
  <add key="YAMAHA_AVATAR_IMAGE" value="https://www.yamaha.com/paragon/images/default.png" />
  <add key="GOOGLE_MAP_KEY" value="ABQIAAAAM3pFS3KUatb94JfJGY5ZlRTspJBd49bPtbFoXGWOMGhEcoxm-RSGv1mbqs3SQo7KkJxfCVeZryMfBA" />
  <add key="FriendlyURLCacheFileLIVE" value="/yamahavgn/CacheFiles/friendlyURLLive.txt" />
  <add key="FriendlyURLCacheFileWORKING" value="/yamahavgn/CacheFiles/friendlyURLWorking.txt" />
  <add key="GlobalURLCacheFileCONTENT" value="/yamahavgn/CacheFiles/globalURLContent.txt" />
  <add key="GlobalURLCacheFileCATEGORY" value="/yamahavgn/CacheFiles/globalURLCategory.txt" />
  <add key="4WRDIT_CACHE_FILE_LOCATION" value="/yamahavgn/CacheFiles/FORWRDIT_URL.txt" />
  <add key="SHORT_URL_DOMAIN_NAME" value="4wrd.it" />
  <add key="SHORT_FORWRD_IT_KEYWORD" value="YAM" />
  <add key="USSUB_DEALERLOCATOR_API_URL" value="http://www.yamaha.com/USSub/api/DealerResults.html?category=" />
  <add key="4WRDIT_SDB_SWE_URL" value="http://usa.yamaha.com/linkselecter.php" />
  <add key="YCAS_CLASS_TRUCK_EVN_ENABLED" value="'24','17','14','18','21','26','13','27','22','19','20'" />
  <add key="YAMAHA_AVATAR_IMAGE" value="/paragon/images/default.png" />
  <add key="BIGDOORSECRETKEY" value="a8aacc07202047339c6204cd2d65715e" />
  <add key="PARAMETERIZEDBIGDOORAUTHAPI" value="https://dev.usa.yamaha.com/Paragon/YamahaAccount/API/BigDoorAuthenticationAPI.aspx" />
  <add key="NONPARAMETERIZEDBIGDOORAUTHAPI" value="https://dev.usa.yamaha.com/Paragon/YamahaAccount/API/BigDoorAuthenticationAPINoParameter.aspx" />
  <add key="YCJ_SECRET_KEY" value="o5aixwMeSw934gF" />
  <add key="VERIFY_URL" value="https://dev.usa.yamaha.com/Paragon/myaccount/verifyemail.html?key=" />
  <add key="REMOTELIVE_CODE" value="" />
  <add key="YASI_ACCESSC_CODE" value="" />
  <add key="AUTHTIMEOUTINHOURS" value="60" />
  <add key="YAMAHA_PASSWORD_RESET_TIMEOUT" value="1" />
  <add key="YAMAHAPP_ERROR_LOG" value="YAMAHAPP" />
  <add key="domain" value="us.yamaha.com" />
  <add key="defaultUserName" value="cegldaps" />
  <add key="defaultPassword" value="Aqua79!s" />
  <add key="domainPath" value="LDAP://auth.us.yamaha.com:636/dc=us,dc=yamaha,dc=com" />
  <add key="HOST_NAME" value="DEV" />
  <add key="PERSISTENT_COOKIE_NAME" value="MAUID" />
  <add key="MA_GUEST_KEY" value="744580f5f905490299441e78595ea656" />
  <add key="INITIATIVE_BASED_ROLES" value="4WRDIT_ADMIN_REG:4AD,YEC_REG:YEC,4WRDIT_REG:4WD,BODIBEAT_PRODUCT_REG:BBR" />
  <add key="YCATS_CERT_IMAGE" value="/ycas/Training/images/AD CERT.jpg" />

    <!--<add key="DOTMAILER_USERNAME" value="apiuser-5dac2ae286d8@apiconnector.com" />
  <add key="DOTMAILER_PASSWORD" value="*dd_API_sandBx1" />-->
  <add key="DOTMAILER_USERNAME" value="apiuser-5dac2ae286d8@apiconnector.com" />
  <add key="DOTMAILER_PASSWORD" value="*dd_API_sandBx1" />
  <add key="DT_MAIL_SERVER" value="https://r2-smtp.dotdigital.com"/>
  <add key="DT_SERVER" value="https://r2-api.dotmailer.com"/>
  
  <add key="RESETPWD" value="https://dev.usa.yamaha.com/paragon/myaccount/resetpassword.html?password_auth_key=" />
  <add key="ACCOUNTSETTINGS" value="https://dev.usa.yamaha.com/paragon/myaccount/details.html" />
  <add key="ACCOUNTSETTINGSD2C" value="/customer/account/" />
  <add key="D2CDOMAIN" value="shop.usa.yamaha.com,locahost.yamaha.com,local.yamaha.com,staging-d2c.usa.yamaha.com" />
  <add key="PWDCONTINUE" value="https://usa-staging.gcms.aws.infosys.yamaha.com/" />
  <add key="PWDD2CCONTINUE" value="https://staging-d2c.usa.yamaha.com/" />
  
  <add key="DT_TRIGGERED_CAMPAGIN_API" value="/v2/email/triggered-campaign"/>

  <add key="DOTDIGITAL_URL" value="https://r2-api.dotmailer.com"/>
  <add key="DOTDIGITAL_USERNAME" value="apiuser-55bd7bedd778@apiconnector.com" />
  <add key="DOTDIGITAL_PASSWORD" value="&amp;&amp;%dyFtrUz" />
  <add key="DOTDIGITAL_CONTACTS_API_URL" value="/v2/contacts"/>
  <add key="DOTDIGITAL_ACCOUNT_INFO_API_URL" value="/v2/account-info"/>
  <add key="WHITELISTMADOMAIN" value=".yamaha.com,.yamahaconnect.com.yamahasynth.com,.yamahadtx.com,.yamahaden.com,jp.co.yamaha.ux.playerport,yamaha.csepromo.com,store.mybrandmall.com,.yamahainfosite.com,staging.yamahasynth.com"/>
</appSettings>